section
    h1 Some Slide
    aside(class="notes") Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit »S« on your keyboard).
section salam be shoma 2
section(data-background-color="#ff0000") salam be shoma 3